.leavesWrapper{
    /* color: rgb(255, 255, 255); */
    margin-top: 60px;
    width: 100%;
    min-height: 240px;
    background-image: url(./../../res/imgs/leaves.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nextToLogo{
    width: 10vw;
    min-height: 80px;
    margin: 1vw;
}

.nameLogo{
    width: 60vw;
    min-height: 80px;
    margin: 1vw;
}


@media only screen and (min-width: 760px) {
  
    .nameLogo{
        width: 455px;
        height: 60px;
    }

    .leavesWrapper{
        width: 100%;
        min-height: 20vh;
        /* margin-bottom: -100px; */
    }

    .nameLogo,
    .nextToLogo{
    margin: 0vh 1vw 0vh;
    }
}

@media only screen and (min-width: 1020px) {
  .leavesWrapper{
        margin: 0px 0 -120px; 
    
        width: 100%;
        min-height: 32vh;
    }
    .nextToLogo{
        width: 105px;
        height: 105px;
    }

    
}