#FAB{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

.FABcircle{
    background-color: #B3DBC0;
    width: 60px;
    height: 60px;
    border-radius: 50%; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.FABcircle:hover{
    background-color: rgb(146, 192, 161);
}

.editIcon{
    fill:  #fff !important;
}